{% extends 'base.html.twig' %}

{% block title %}home{% endblock %}

{% block body %}
<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 d-block"
        data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container"><a class="navbar-brand" href="index.html"><img class="d-inline-block"
                    src="{{ asset('assets/img/gallery/logo.png') }}" width="50" alt="logo" /><span
                    class="fw-bold text-primary ms-2">Jirama-ty</span></a><button class="navbar-toggler collapsed"
                type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto pt-2 pt-lg-0 font-base">
                </ul>
                <div class="d-flex justify-content-end">
                    {% if app.user %}
                        <a href="{{path('app_logout')}}" class="btn btn-voyage-outline order-0"><span class="text-primary">Mivoaka</span></a>
                        {% else %}
                        <a href="{{path('app_login')}}" class="btn btn-voyage-outline order-0"><span class="text-primary">Miditra</span></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    <section class="mt-7 py-0">
        <div class="bg-holder w-50 bg-right d-none d-lg-block"
            style="background-image:url(assets/img/gallery/jirama2.webp);"></div>
        <!--/.bg-holder-->
        <div class="container">
            <div class="row">
                <div class="col-lg-6 py-5 py-xl-5 py-xxl-7">
                    <h1 class="display-3 text-1000 fw-normal">'Ndao hitady hevitra</h1>
                    <h1 class="display-3 text-primary fw-bold">Hanapahana Jiro sy Rano</h1>
                    <div class="pt-5">
                        <nav>
                            <div class="nav nav-tabs voyage-tabs" id="nav-tab" role="tablist">
                                <button
                                    class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                                    aria-selected="true"><i class="fas fa-lightbulb"></i></button>
                                <button
                                    class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
                                    aria-selected="false"> <i class="fas fa-faucet"></i></button>
                            </div>
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                    aria-labelledby="nav-home-tab">
                                    <form class="row g-4 mt-5" action="{{ path ('app_searchexcuses') }}" method="post">
                                        <div class="col-sm-6 col-md-6 col-xl-10">
                                            <div class="input-group-icon">
                                                <label class="form-label visually-hidden" for="inputAddress1">Toerana</label>
                                                <input class="form-control input-box form-voyage-control" id="toerana" type="text" placeholder="Toerana" name="toerana"/>
                                                    <span class="nav-link-icon text-800 fs--1 input-box-icon"><i class="fas fa-map-marker-alt"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-xl-5">
                                            <div class="input-group-icon"><input
                                                    class="form-control input-box form-voyage-control" id="inputdateOne" name="date_fiandoana"
                                                    type="date" /><span
                                                    class="nav-link-icon text-800 fs--1 input-box-icon"><i
                                                        class="fas fa-calendar"></i></span></div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-xl-5">
                                            <div class="input-group-icon"><input
                                                    class="form-control input-box form-voyage-control" id="inputDateTwo" name="date_fiafarana"
                                                    type="date" /><span
                                                    class="nav-link-icon text-800 fs--1 input-box-icon"><i
                                                        class="fas fa-calendar"></i></span></div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-xl-10">
                                            <div class="input-group-icon">
                                                <label class="form-label visually-hidden" for="inputPersonOne">Person</label>
                                                <select class="form-select form-voyage-select input-box"id="inputPersonOne" name="safidy">
                                                    <option>Mandamina</option>
                                                    <option selected="selected">Mahasorena</option>
                                                    <option>Mampamonongo-tena</option>
                                                    <option>Maharikoriko</option>
                                                </select>
                                                    <span class="nav-link-icon text-800 fs--1 input-box-icon"><iclass="fas fa-poo"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-xl-10 col-lg-12 d-grid mt-6"><button
                                                class="btn btn-secondary" type="submit">Omeo Hevitra!</button></div>
                                    </form>
                                </div>
                                <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                                    aria-labelledby="nav-profile-tab">
                                    <form class="row g-4 mt-5">
                                        <div class="col-6">
                                            <div class="input-group-icon"><label class="form-label visually-hidden"
                                                    for="inputAddressThree">Address 1</label><input
                                                    class="form-control input-box form-voyage-control"
                                                    id="inputAddressThree" type="text" placeholder="From where" /><span
                                                    class="nav-link-icon text-800 fs--1 input-box-icon"><i
                                                        class="fas fa-map-marker-alt"></i></span></div>
                                        </div>
                                        <div class="col-6">
                                            <div class="input-group-icon"><label class="form-label visually-hidden"
                                                    for="inputAddressFour">Address 2</label><input
                                                    class="form-control input-box form-voyage-control"
                                                    id="inputAddressFour" type="text" placeholder="To where" /><span
                                                    class="nav-link-icon text-800 fs--1 input-box-icon"><i
                                                        class="fas fa-map-marker-alt"> </i></span></div>
                                        </div>
                                        <div class="col-6">
                                            <div class="input-group-icon"><input
                                                    class="form-control input-box form-voyage-control"
                                                    id="inputDateThree" type="date" /><span
                                                    class="nav-link-icon text-800 fs--1 input-box-icon"><i
                                                        class="fas fa-calendar"></i></span></div>
                                        </div>
                                        <div class="col-6">
                                            <div class="input-group-icon"><input
                                                    class="form-control input-box form-voyage-control"
                                                    id="inputDateFour" type="date" /><span
                                                    class="nav-link-icon text-800 fs--1 input-box-icon"><i
                                                        class="fas fa-calendar"></i></span></div>
                                        </div>
                                        <div class="col-6">
                                            <div class="input-group-icon"><label class="form-label visually-hidden"
                                                    for="inputPeopleTwo">People</label><select
                                                    class="form-select form-voyage-select input-box"
                                                    id="inputPeopleTwo">
                                                    <option selected="selected">2 Adults</option>
                                                    <option>2 Adults 1 children</option>
                                                    <option>2 Adults 2 children</option>
                                                </select><span class="nav-link-icon text-800 fs--1 input-box-icon"><i
                                                        class="fas fa-user"> </i></span></div>
                                        </div>
                                        <div class="col-12 d-grid mt-6"><button class="btn btn-secondary"
                                                type="submit">Omeo Hevitra!</button></div>
                                    </form>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ============================================-->
    <!-- <section> begin ============================-->

</main><!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->
{% endblock %}